body{
	background-image: linear-gradient(rgba(62, 20, 20, 0.4), 
		rgba(62, 20, 20, 0.4)), url(../img/back.jpg);
	
	background-size:cover;
    height: 100vh;
    font-weight: 300;
    position: relative;
    color: #555;
}

.avatar{
	width:100%;
}

img{
	max-width:100%;
}

h2{
	font-size:1.8rem;
	font-weight:400;
}

